<div class="dark">
  <nav class="navbar navbar-expand-lg navbar-fixed-top custom-nav">
      <!-- <span class="nav-title">
          {{title}}
      </span> -->
          <!-- <i  class="fa fa-user"></i> -->

          <div class="nav-icon sidebar-slide-icon">
            <i class="fas fa-window-maximize"></i>
          </div>

          <div class="nav-icon" (click)="deleteNote()" >
            <i class="fas fa-trash-alt"></i>
        </div>

        <div class="nav-icon" (click)="createNote()">
            <i class="fas fa-edit"></i>
        </div>

        <div class="notes-search">
            <input placeholder="Search"/>
        </div>
  </nav>
</div>