<div class="dark">
    <nav class="navbar navbar-expand-lg navbar-fixed-top custom-nav">
        <div (click)="toggleSideBar()" class="nav-icon sidebar-slide-icon">
            <i class="fas fa-window-maximize"></i>
        </div>

        <div class="nav-icon" (click)="deleteNote()">
            <i class="fas fa-trash-alt"></i>
        </div>

        <div class="nav-icon" (click)="createNote()">
            <i class="fas fa-edit"></i>
        </div>

        <div class="notes-search">
            <input (keyup)="searchNotes()" [(ngModel)]="searchInput" placeholder="Search"/>
            <span
                *ngIf="searchInput.trim().length > 0"
                (click)="stopSearchNotes()"
                class="search-clear">
                <i class="fas fa-times-circle"></i>
            </span>
        </div>
    </nav>
</div>