<app-header></app-header>

<div class="home-container ">
    
    <div class="notes-sidebar"> 
            <div class="right" *ngIf="tutorials">

                    <h3>Tutorials</h3>
                    <ul>
                        <li *ngFor="let tutorial of tutorials | async">
                        <a [href]="tutorial.url" target="_blank">{{ tutorial.name }}</a>
                        </li>
                    </ul>
            
        </div>
        
        <ul>
            <li>
                <div class="note-item">
                    <p class="note-title">This is an example notation of the text</p>
                    <div class="note-additional-content">
                        <span class="note-time-stamp"> 8:50 PM </span>
                        <span class="note-content"> NO additonal content recommended by the</span>
                    </div>
                </div>

            </li>
            <li>
                <div class="note-item">
                    <p class="note-title">Note1 is written by me </p>
                    <div class="note-additional-content">
                        <span class="note-time-stamp"> 8:50 PM </span>
                        <span class="note-content"> Didnt had a glimpse of doubt jfgj jgfhgfhfhfhgfh ffh fhgfg </span>
                    </div>
                </div>

            </li>
            <li>
                <div class="note-item">
                    <p class="note-title">Note1 j jfj fjgfjgf jg jgfj gf jgfjg jgfj g </p>
                    <div class="note-additional-content">
                        <span class="note-time-stamp"> 8:50 PM </span>
                        <span class="note-content"> Didnt had a glimpse of doubt jfgj jgfhgfhfhfhgfh ffh fhgfg </span>
                    </div>
                </div>

            </li>
            <li>
                <div class="note-item">
                    <p class="note-title">Logger </p>
                    <div class="note-additional-content">
                        <span class="note-time-stamp"> 8:50 PM </span>
                        <span class="note-content"> Didnt had a glimpse of doubt jfgj jgfhgfhfhfhgfh ffh fhgfg </span>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="notes-body">
        <div class="note-time"> <span> November 16, 2019 at 4:52 PM </span> </div>
        <textarea class="note-text"></textarea>
    </div>
</div>
