<app-header [filtering]="filtering" [newNoteOpened]="newNoteOpened" (stopSearchEvent)="stopSearchNotes()" (searchEvent)="searchNotes($event)" (createNoteEvent)="createNote()" (deleteNoteEvent)="deleteNote()" ></app-header>

<div class="home-container">
    <div class="notes-sidebar"> 
        <ul>
                <li *ngFor="let note of notes"
                [class.active]="note === selectedNote"
                (click)="onSelect(note)">
                        <div class="note-item">
                            <p class="note-title">{{note.title}}</p>
                            <div class="note-additional-content">
                                <span class="note-time-stamp">{{note.relativeTimeStamp}} </span>
                                <span class="note-content">{{note.brief}}</span>
                            </div>
                        </div>
                    </li>
        </ul>
    </div>
    <div class="notes-body">
        <div class="note-time"> <span> {{selectedNote.mainTimeStamp}} </span> </div>
        <textarea #notetext (keyup)="noteContentChanged(selectedNote)" [(ngModel)]="selectedNote.content" class="note-text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
    </div>
</div>
