
$primary-grey: #dedcdd;

$break-xs: 320px;
$break-small: 400px;
$break-xm: 500px;
$break-medium: 768px;
$break-large: 1200px;

$bg-color: white;
$bg-color-light: #F9F9F9;
$primary-blue: #0298D9;
$primary-green: #02C39A;
$primary-red: #E85555;

$light-blue: #0BA6F4;
$medium-blue: #0985C3;
$dark-blue: #1B2835;
$light-grey: #A6A6A6;
$medium-grey: #808080;
$dark-grey: #595959;

